<h1>Welcome to my Paint a Mondrian page.</h1>
<h3>Please choose a color and paint away!</h3>

<div class="colors">
  <div class="red"></div>
  <div class="blue"></div>
  <div class="yellow"></div>
  <div class="white"></div>
  <div class="grey"></div>
</div>
<div>
  <input type="submit" name="save" value="Save Your Mondrian" id="save-button">
  <div class="save-output"></di>
</div>
<div class="canvas">
  <div class="row_1">
    <div class="box white" id="row_1_column_1"></div>
    <div class="box white" id="row_1_column_2"></div>
    <div class="box white" id="row_1_column_3"></div>
    <div class="box white" id="row_1_column_4"></div>
  </div>
  <div class="row_2">
    <div class="box white" id="row_2_column_1"></div>
    <div class="box white" id="row_2_column_2"></div>
    <div class="box white" id="row_2_column_3"></div>
    <div class="box white" id="row_2_column_4"></div>
  </div>
  <div class="row_3">
    <div class="box white" id="row_3_column_1"></div>
    <div class="box white" id="row_3_column_2"></div>
    <div class="box white" id="row_3_column_3"></div>
    <div class="box white" id="row_3_column_4"></div>
  </div>
  <div class="row_4">
    <div class="box white" id="row_4_column_1"></div>
    <div class="box white" id="row_4_column_2"></div>
    <div class="box white" id="row_4_column_3"></div>
    <div class="box white" id="row_4_column_4"></div>
  </div>
</div>