<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/stylesheet.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="script.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <%= partial :"partials/top_ribbon", :layout => false %>
    <%= partial :"partials/message", :layout => false %>
    <%= yield %>
  </body>
</html>