.row_1 { height: 90px; }
.row_2 { height: 70px; }
.row_3 { height: 65px; }
.row_4 { height: 60px; }
.row_5 { height: 85px; }
.row_6 { height: 90px; }
.row_7 { height: 75px; }
.row_8 { height: 60px; }
.row_9 { height: 85px; }
.row_10 { height: 90px; }
.column_1 { width: 80px; }
.column_2 { width: 60px; }
.column_3 { width: 85px; }
.column_4 { width: 110px; }
.column_5 { width: 75px; }
.column_6 { width: 85px; }
.column_7 { width: 80px; }
.column_8 { width: 65px; }
.column_9 { width: 75px; }
.column_10 { width: 95px; }