<div class="user_form signup">
  <form action="/create" method="post">
    <label for="username">Username: </label>
    <input name="username" type="text">
    <label for="password">Password: </label>
    <input name="password" type="password">
    <label for="password">Validate Password: </label>
    <input name="validate_password" type="password">
    <input type="submit" value="Sign Up!">
  </form>
</div>