* {
  background-color: #FEE;
  box-sizing: border-box;
}

.colors {
  width: auto;
  height: 40px;
  margin: 20px;
}

.colors > div {
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 2px solid;
}

.red { 
  background-color: red;
}

.blue { 
  background-color: blue;
}

.yellow { 
  background-color: yellow;
}

.grey {
  background-color: gray;
}

.white { 
  background-color: white;
}

.canvas {
  font-size: 0px;
  width: auto;
  height: auto;
}

.canvas > div > div:first-child {
  border-left: 4px solid;
}

.canvas > div> div:last-child {
  border-right: 4px solid;
}

.canvas > div {
  height: 100px;
  width: auto;
}

.canvas > div > div {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
}

body {
  text-align: center;
}

div[id^='row_1_'] {
  border-top: 4px solid;
  border-bottom: 4px solid; 
}

div[id^='row_2_'] {
  border-bottom: 4px solid;  
}
div[id^='row_3_'] {
  border-bottom: 4px solid;  
}

div[id^='row_4_'] {
  border-bottom: 4px solid;   
}

div[id$="column_1"] {
  border-right: 4px solid;
}

div[id$="column_2"] {
  border-right: 4px solid;
}

div[id$="column_3"] {
  border-right: 4px solid;
}

#save-button, .save-output {
  margin-bottom: 10px;
}