<form action="/mondrian/create" method="post">
  <label for="name">Name: </label>
  <input name="name" type="text">
  <label for="number_of_rows">Number of Rows: </label>
  <input name="number_of_rows" type="number" min="1" max="10">
  <label for="number_of_columns">Number of Columns: </label>
  <input name="number_of_columns" type="number" min="1" max="10">
  <input type="submit" value="Create Your Mondrian!">
</form>