<h1>Welcome to my Paint a Mondrian page.</h1>
<h3>Please choose a color and paint away!</h3>

<div class="colors">
  <div class="white"></div>
  <div class="yellow"></div>
  <div class="red"></div>
  <div class="blue"></div>
  <div class="grey"></div>
</div>
<div>
  <input type="submit" name="save" value="Save Your Mondrian" id="save-button">
  <span class="new_mondrian_link">Not satisfied with this Mondrian? <a href="/mondrian/new">Create a new one!</a></span>
  <div class="save-output"></div>
</div>
<div class="canvas">
  <%= partial :"/partials/canvas_output", :layout => false %>
</div>