<h1>Welcome to my Paint a Mondrian page.</h1>
<h3>Please choose a color and paint away!</h3>

<div class="colors">
  <div class="color_1"></div>
  <div class="color_2"></div>
  <div class="color_3"></div>
  <div class="color_4"></div>
  <div class="color_5"></div>
</div>
<div>
  <input type="submit" name="save" value="Save Your Mondrian" id="save-button">
  <%= load_button(@user_canvases) %>
  <input type="submit" name="load" value="Load Selected" id="load-button">
  <span class="new_mondrian_link"><a href="/mondrian/new">Create a New Modrian!</a></span>
  <div class="save-output"></div>
</div>
<div class="canvas">
  <%= partial :"/partials/canvas_output", :layout => false %>
</div>